In [23]:
import pandas as pd

1) Determine se os dados são qualitativos ou quantitativos. Explique seu raciocínio.
- Alturas de balões de ar quente -> Quantitativa, por que podemos dizer quantos metros os balões podem chegar em média.
- Capacidades de carga de caminhonetes -> Quantitativa, podemos calcular a quantidade de carga que o caminhão suporta.
- Cores dos olhos de modelos -> Qualitativa. Estamos observando as cores dos olhos das modelos, portanto estamos dando uma qualidade.
- Números de identidade de estudantes -> Quantitativa, estamos observando quantas identidades existem de estudantes.
- Respostas em uma pesquisa de opinião. -> Quantitativa. Quantas respostas da pesquisa foram coletadas.

2) A)
- Sexo: Qualitativa, porque estamos categorizando se é masculino ou feminino e é qualitativa nominal porque não podemos ordená-las quantitativamente.(**Qualitativa nominal**).
- Predileta: Qualitativa, porque estamos categorizando nomes, nesse caso são as matérias elas são nominais, porque não podemos ordenar quantitativamente os nomes.(**Qualitativa nominal**).
- Nota: **Quantitativa discreta**, pois, podemos enumerar os valores e podemos ordena-los.

In [ ]:
#B)
#TABVELA

DFDOIS = pd.DataFrame({"SEXO": ['MASCULINO', 'FEMININO'], 
                    "Frequência absoluta":[21, 21],
                    "Frequência relativa":[0.50,0.50]})
DFDOIS

In [33]:
DFTRES= pd.DataFrame({"Predileta":['Português','Matemática', 'História','Geografia','Ciências'],"frq abs Masculino":[3,6,4,5,3],"frq abs Feminino":[7,8,3,3,0]})
DFTRES

    Predileta  frq abs Masculino  frq abs Feminino
0   Português                  3                 7
1  Matemática                  6                 8
2    História                  4                 3
3   Geografia                  5                 3
4    Ciências                  3                 0

In [ ]:

DFDOIS = pd.DataFrame({"NOTA": ['Português','Matemática', 'História','Geografia','Ciências'], 
                    "Frequência absoluta":[21, 21],
                    "Frequência relativa":[0.50,0.50]})
DFDOIS

**QUESTÃO 3**
- PAP; Quantitativa discreta, aqui temos valores finitos 1 ou 0, sendo assim possível enumerar.
- GI; Qualitativa ordinal, podemos colocar em ordem por escolaridade, mas não podemos quantificar a diferença entre chefes.
- RES: Quantitativa  discreta, pois o conjunto é finito. Podemos dizer exatamente quantos membros existem na casa A ou na casa B.
- RENDA Quantitativa contínua, pois temos valores expressos como número real, que pode ser somado.

**QUESTÃO 3**

In [7]:
totalPAP = 40
frqNAO = 16/40  
frqSIM = 24/40

In [11]:
df2 = pd.DataFrame({"PAP": ['1/SIM', '0/NÃO'], 
                    "Frequência absoluta":[24, 16],
                    "Frequência relativa":[frqSIM,frqNAO]})
df2

     PAP  Frequência absoluta  Frequência relativa
0  1/SIM                   24                  0.6
1  0/NÃO                   16                  0.4

In [14]:
gi1 = 6/40
gi2 = 11/40
gi3 = 23/40

In [16]:
df3 = pd.DataFrame({"GI": ['1 = nenhum grau oficialmente completo', ' 2 = primeiro grau completo',' 3 = segundo   grau completo '], 
                    "Frequência absoluta":[6, 11,23],
                    "Frequência relativa":[gi1,gi2,gi3]})
df3

                                      GI  ...  Frequência relativa
0  1 = nenhum grau oficialmente completo  ...                0.150
1             2 = primeiro grau completo  ...                0.275
2           3 = segundo   grau completo   ...                0.575

[3 rows x 3 columns]

In [20]:
n1=1/40
n2=3/40
n3=6/40
n4=13/40
n5=11/40
n6=4/40
n8=2/40

In [22]:
df4 = pd.DataFrame({"Número de pessoas redesentes na casa/RES":['1Pessoas','2Pessoas','3Pessoas','4Pessoas','5Pessoas','6Pessoas','8Pessoas'],"Frequência absoluta":[1,3,6,13,11,4,2],"Frequência relativa":[n1,n2,n3,n4,n5,n6,n8]})
df4

  Número de pessoas redesentes na casa/RES  ...  Frequência relativa
0                                 1Pessoas  ...                0.025
1                                 2Pessoas  ...                0.075
2                                 3Pessoas  ...                0.150
3                                 4Pessoas  ...                0.325
4                                 5Pessoas  ...                0.275
5                                 6Pessoas  ...                0.100
6                                 8Pessoas  ...                0.050

[7 rows x 3 columns]