In [1]:
import numpy as np
import pandas as pd

1

In [2]:
Mercearia = pd.DataFrame({"loja":["A", "A", "A"],
"dia": ["sex", "sab", "dom"],
"valor": [7500, 9500, 8200]})
Farmácia = pd.DataFrame({"loja":["B", "B", "B"],
"dia": ["sex", "sab", "dom"],
"valor": [5100, 8250, 9900]})
Restaurante = pd.DataFrame({"loja":["C", "C"],
"dia": ["sab", "dom"],
"valor": [7500, 11800]})

In [6]:
pd.concat([Mercearia,Farmácia,Restaurante], ignore_index=True)

  loja  dia  valor
0    A  sex   7500
1    A  sab   9500
2    A  dom   8200
3    B  sex   5100
4    B  sab   8250
5    B  dom   9900
6    C  sab   7500
7    C  dom  11800

In [7]:
pd.concat([Mercearia,Farmácia,Restaurante],axis=1, ignore_index=True)

   0    1     2  3    4     5    6    7        8
0  A  sex  7500  B  sex  5100    C  sab   7500.0
1  A  sab  9500  B  sab  8250    C  dom  11800.0
2  A  dom  8200  B  dom  9900  NaN  NaN      NaN

Os valores NaN são usados para completar o dataframe.

#2

In [8]:
SQL = pd.DataFrame({"email":["rakesh@xyz.com",
"ecg@acmecorpus.com"]})
PYTHON = pd.DataFrame({"email":["ana@xyz.com",
"jonas@acmecorpus.com",
"rakesh@xyz.com"]})

A)ecg@acmecorpus.com, jonas@acmecorpus.com, ana@xyz.com

B)rakesh@xyz.com, rakesh@xyz.com

C)SQL - ecg@acmecorpus.com PYTHON - jonas@acmecorpus.com,ana@xyz.com

3

In [10]:
dic_emp = {"id":["D1","D2","D3","D4"],
"nomDepto": ["Compras","RH","TI","Vendas"],
"local":["SP","RJ","RJ","SP"]
}
dic_func = {"num":[3199,3269,3555,3788,3844],
"nome": ["Ana","David","José","Marina","Luís"],
"salario":[1600,2975,1500,5000,3000],
"idDepto": ["D2","D3",None,"D2","D4"]
}
empresa = pd.DataFrame(dic_emp)
funcionarios = pd.DataFrame(dic_func)

In [15]:
empresa

   id nomDepto local
0  D1  Compras    SP
1  D2       RH    RJ
2  D3       TI    RJ
3  D4   Vendas    SP

In [17]:
funcionarios

    num    nome  salario idDepto
0  3199     Ana     1600      D2
1  3269   David     2975      D3
2  3555    José     1500    None
3  3788  Marina     5000      D2
4  3844    Luís     3000      D4

In [26]:
empresa.merge(funcionarios, left_on='id', right_on='idDepto')

   id nomDepto local   num    nome  salario idDepto
0  D2       RH    RJ  3199     Ana     1600      D2
1  D2       RH    RJ  3788  Marina     5000      D2
2  D3       TI    RJ  3269   David     2975      D3
3  D4   Vendas    SP  3844    Luís     3000      D4